@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
/* line 32, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  vertical-align: baseline;
  -webkit-font-smoothing: subpixel-antialiased; }

/* line 41, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }
  /* line 43, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  h1 margin, h2 margin, h3 margin, h4 margin, h5 margin, h6 margin {
    bottom: 1em; }

/* line 50, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
h1 {
  font-size: 2em;
  border-spacing: 10px; }

/* line 57, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
h2 {
  font-size: 1.6em; }

/* line 63, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
h3 {
  font-size: 1.4em; }

/* line 69, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
h4 {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase; }

/* line 77, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
h5 {
  font-size: 1.1em; }

/* line 83, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
h6 {
  font-size: 1em; }

/* line 93, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
p {
  font-family: "Open Sans", "Helvetica Neue", Arial, Garuda, Sans-serif;
  font-size: 1em;
  margin: 0 0 0.5em 0; }

/* line 101, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
ul, ol {
  margin: 0 0 1.5em 1.5em; }

/* line 109, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
a {
  color: #555555;
  border-bottom: 0.1em solid #c14444;
  text-decoration: none; }
  /* line 113, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  a:visited {
    color: #959595;
    border-bottom: 0.1em solid #d47d7d; }
  /* line 117, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  a:hover {
    color: #3b3b3b;
    border-bottom: 0.1em solid #9e3434; }
  /* line 121, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  a:focus {
    color: #2f2f2f;
    border-bottom: 0.1em solid #8b2e2e; }
  /* line 125, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  a:active {
    color: #2f2f2f;
    border-bottom: 0.1em solid #8b2e2e; }

/* line 135, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
li {
  margin: 0 0 0.5em 0; }

/* line 143, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
em {
  font-style: italic; }
  /* line 145, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  em font {
    family: "Open Sans", "Helvetica Neue", Arial, Garuda, Sans-serif; }

/* line 150, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
strong font {
  family: "Open Sans", "Helvetica Neue", Arial, Garuda, Sans-serif;
  weight: 700; }

/* line 161, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
q:before {
  content: open-quote; }
/* line 164, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
q:after {
  content: close-quote; }

/* line 169, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
blockquote {
  background: ligthen(#dddddd, 1.5%);
  border-left: 10px solid #b13b3b;
  margin: 1.5em 0;
  padding: 0.5em 1.5em;
  quotes: “\201C”“\201D”“\2018”“\2019”; }
  /* line 175, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  blockquote:lang(sv) {
    quotes: "\201D" "\201D" "\2019" "\2019"; }
  /* line 176, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  blockquote:lang(da) {
    quotes: "\00BB" "\00AB" "\203A" "\2039"; }
  /* line 184, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  blockquote:before {
    content: open-quote; }
  /* line 187, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  blockquote:after {
    content: close-quote; }
  /* line 190, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/_typography.scss */
  blockquote p {
    display: inline; }

/* line 89, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
body {
  background: #dddddd;
  color: #555555;
  letter-spacing: -0.05em;
  line-height: 1.5em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Garuda, Sans-serif;
  font-size: 16px;
  font-weight: 400; }
  @media screen and (max-width: 1024px) {
    /* line 89, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    body {
      font-size: 14px; } }
  @media screen and (max-width: 840px) {
    /* line 89, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    body {
      font-size: 12px; } }

/* line 110, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
header {
  margin: 0 0 0 0;
  width: 100%;
  height: 6em;
  border-bottom: 1em solid #b13b3b;
  background: #c14444; }

/* line 119, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
.header-wrap {
  position: fixed;
  top: 0em;
  bottom: 0;
  left: 50%;
  margin-left: -460px;
  width: 1070px;
  height: auto; }
  /* line 127, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
  .header-wrap h1 {
    float: left;
    padding: 0 0 0 1em;
    max-width: 5em;
    width: auto;
    background: #c14444;
    font-weight: 700;
    font-family: "Dancing Script", "Open Sans Condensed", sans-serif;
    font-size: 3em;
    line-height: 2em; }
  @media screen and (max-width: 1024px) {
    /* line 119, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap {
      left: 5%;
      margin-left: 0;
      max-width: 20em;
      width: auto; } }
  @media screen and (max-width: 840px) {
    /* line 119, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap {
      position: static;
      margin-left: 0;
      padding: 0 5% 0 5%;
      width: 90%; } }
  /* line 149, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
  .header-wrap a {
    border-bottom: none;
    color: #eaeaea; }
    /* line 152, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap a:visited, .header-wrap a:focus, .header-wrap a:active, .header-wrap a:hover {
      border-bottom: none;
      color: #eaeaea; }
  /* line 157, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
  .header-wrap ul {
    float: right;
    margin: 2.3em 0; }
    /* line 160, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap ul li {
      display: inline-block;
      float: left;
      padding: 0 1em;
      border-right: 2px solid #eaeaea;
      color: #eaeaea;
      line-height: 1.4em; }
      /* line 167, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
      .header-wrap ul li:last-of-type {
        border: none; }
    /* line 171, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap ul:after {
      clear: both; }
    /* line 174, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap ul:after {
      background: url(img/avatar-placeholder.png);
      height: 4em;
      width: 4em;
      border-radius: 4em; }
  @media screen and (max-width: 1024px) {
    /* line 119, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap {
      padding: 0 5%;
      max-width: 1000px;
      width: 90%; } }
  @media screen and (max-width: 840px) {
    /* line 119, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .header-wrap {
      padding: 0 5%;
      width: 90%; } }

/* line 197, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
.wrapper {
  padding: 0 2em;
  background: #dddddd; }
  @media screen and (max-width: 840px) {
    /* line 197, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .wrapper {
      padding: 0; } }

/* line 205, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
.content {
  min-width: 30em;
  max-width: 37.5em;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding: 1.5em 3em;
  background: #eaeaea;
  font: 1em/1.5 "Open Sans", "Helvetica Neue", Arial, Garuda, Sans-serif; }
  @media screen and (max-width: 1024px) {
    /* line 205, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .content {
      left: 35%;
      margin-left: 0;
      min-width: 60%;
      width: 60%; } }
  @media screen and (max-width: 840px) {
    /* line 205, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .content {
      position: static;
      padding: 5%;
      padding-top: 0;
      min-width: 90%;
      width: 90%; } }

/* line 239, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
.contact-info-tel {
  margin: 0;
  text-indent: 1em; }

/* line 243, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
.contact-info-email {
  text-indent: 1em; }

/* line 251, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
.sidebar {
  position: fixed;
  top: 7em;
  bottom: 0;
  left: 50%;
  margin-left: -460px;
  padding-top: 65px;
  width: 250px;
  height: auto; }
  /* line 260, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
  .sidebar ul {
    list-style: none;
    text-transform: uppercase;
    font: bold 18px "Open Sans Condensed", sans-serif; }
  /* line 264, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
  .sidebar li a {
    display: inline-block;
    margin: 2px 0 2px 10px;
    padding: 0 3px;
    text-decoration: none !important; }
  @media screen and (max-width: 1024px) {
    /* line 251, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .sidebar {
      left: 5%;
      margin-left: 0;
      width: 25%; } }
  @media screen and (max-width: 840px) {
    /* line 251, /Users/adamhjerpe/Documents/htdocs/reesu.me/dev/css/style.scss */
    .sidebar {
      position: static;
      margin-left: 0;
      padding: 5% 5% 0 5%;
      width: 90%;
      text-align: center; } }
