///////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Website:; http://reesu.me/;                                                                               //
// Author: Adam Hjerpe;                                                                                      //
// License: GNU General Public License, version 3.0 (GPLv3) url(http://opensource.org/licenses/gpl-3.0.html);//
///////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Please refer to style guide in README.md for 
//
//
//
///////////////////////////////////
// --- --- --- Index --- --- --- //
///////////////////////////////////
//
// 1. Variables
// 2. Mixins
// 3. Layout
// - 3.1 Header
// - 3.2 Main content
// - 3.3 Sidebar
//  



// @import: "compass";


///////////////////////////
// Css development reset //
///////////////////////////

 * { margin: 0; padding: 0; outline: none; border: none; vertical-align: baseline; -webkit-font-smoothing: subpixel-antialiased;}

//////////////////
// 1. Variables //
//////////////////

// Breakpoints
  $break-small: 840px;
  $break-large: 1024px;
  $break-x-large: 1200px;

// Font-sizes

// Desktop font-size
  $f-size: 16px;
// Tablet font-size
  $f-size-m: 14px;
// Mobile font-size 
  $f-size-s: 12px;

// Line height, change to match vertical rhytm for document
  $l-height: 1.5em;

// Header background color or pattern
  // Orange:;
    // $head-col: #FF9666;
  // Facebook Blue:;
    // $head-col: #4660a2;
  // Linus Lilja Teal: 
    // $head-col: #10D080;
  // Random Red
   $head-col: #C14444;

// Background color
  $bg-col: #dddddd;

// Font Color
  $font-col: #555555;



///////////////
// 2. Mixins //
///////////////

@mixin col-width {
  min-width: 30em;
  max-width: 37.5em;
} 

/////////////////////////////////
// Import of typography styles //
/////////////////////////////////

@import "typography.scss";

///////////////
// 3. Layout //
///////////////

body { 
  background: $bg-col;
  // background: desaturate(lighten($head-col, 5%), 5%);
  color: $font-col;
  letter-spacing: -0.05em;
  line-height: $l-height;
  font: {
    family: $p-font;
    size : $f-size;
    weight: 400;
  }
  @media screen and (max-width: $break-large) {
    font-size: $f-size-m;}
  @media screen and (max-width: $break-small) {
    font-size: $f-size-s;}
  }

////////////////////////
// 3.1 Header styling //
////////////////////////

.headings {
  margin: 0 0 0 0;
  width: 100%;
  height: 6em;
  border-bottom: 1em solid darken($head-col, 5%);
  background: $head-col;

}

.header-wrap {
  position: absolute;
  top: 0em;
  bottom: 0;
  left: 50%;
  margin-left: -460px;
  width: 1070px;
  height: 5.5em;
  h1 {
    float: left;
    padding: 0 0 0 1em;
    max-width: 5em;
    width: auto;
    background: $head-col;
    font-weight: 700;
    font-family: $logo-font;
    font-size: 3em;
    line-height: 1.8em;
    span { 
      display: none;}} // span h1
    @media screen and (max-width: $break-large) {
      left: 5%;
      margin-left: 0;
      max-width: 20em;
      width: auto;
    }
    @media screen and (max-width: $break-small) {
      position: static;
      margin-left: 0;
      padding: 0 5% 0 5%;
      width: 90%;
    }
    .notification {
      font-size: 0.8em;
      margin: 0 0 0 1.8em;
      line-height: 2.8em;
      float: left;
      width: 22em; 
    }
  p, a {
    margin: 2.5em 0em;
    width: auto;
  }
  p {
    color: lighten($bg-col, 5%);
  }
  a {
    border-bottom: 0.1em solid lighten($bg-col, 5%);
    color: lighten($bg-col, 5%);
    &:visited {
      border-bottom: 0.1em solid lighten($bg-col, 5%);
    };
    &:focus, &:active, &:hover {
      border-bottom: none;
      color: lighten($bg-col, 5%);
    }
  }
    ul.nav {
      float: right;
      margin: 2.3em 0;
      width: auto;
      li {
        display: inline-block;
        float: left;
        padding: 0 1em;
        border-right: 0.1em solid lighten($bg-col, 5%);
        color: lighten($bg-col, 5%);
        line-height: 1.4em;
        &:last-of-type {
          border: none;
        }
      }
      &:after {
        clear: both;
      }
    }
  @media screen and (max-width: $break-large) {
    padding: 0 5%;
    max-width: 1000px;
    width: 90%;
  }
  @media screen and (max-width: $break-small) {
    padding: 0 5%;
    width: 90%;
  }
}


//////////////////////////////
// 3.2 Main Content Styling //
//////////////////////////////

.wrapper {
  padding: 0 2em;
  background: $bg-col;
  @media screen and (max-width: $break-small) {
    padding: 0;
  }
}

.content-box {
  padding: 20px;
  h2, h3, h1 {
    font-style: normal;
    font-weight: 700;
    background: $font-col;
    text-indent: 20px;
    height: 50px; // Positioning hack
    line-height: 50px;
    color: $bg-col;
    text-transform: uppercase;
    margin: 20px -20px 20px -20px; 
    &:first-of-type {
      margin: -20px -20px 20px -20px; }
    }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  border-bottom: 1em solid $head-col;
}

.content {
  @extend .content-box;
  @include col-width;
  position: absolute;
  left: 50%;
  top: 9em;
  margin-left: -180px;
  background: lighten($bg-col, 5%);
  font: 1em/1.5 $p-font;
  @media screen and (min-width: $break-x-large) {
    margin-left: -100px;
  }
  @media screen and (max-width: $break-large) {
    left: 35%;
    margin-left: 0;
    min-width: 60%;
    width: 60%;
  }
  @media screen and (max-width: $break-small) {
    position: static;
    padding: 5%;
    padding-top: 0;
    min-width: 90%;
    width: 90%;
  }
}

////////////////////////////////
// 3.2.1 Contact info Section //
////////////////////////////////

.contact-info {

}
  .contact-info-name {

  }
  .contact-info-tel {
    margin: 0;
    text-indent: 1em;
  }
  .contact-info-email {
    text-indent: 1em;
  }

/////////////////
// 3.3 Sidebar //
/////////////////

$sidebar-width: 13em;

.sidebar{
  position: absolute;
  top: 9em;
  bottom: 0;
  left: 50%;
  margin-left: -460px;
  width: $sidebar-width;
  background: $bg-col;
  height: auto;
  @extend .content-box;
  ul{
    list-style:none;
    text-transform: uppercase;
    font: bold 1.1em 'Open Sans Condensed', sans-serif;}
  li a{
        display: inline-block;
    font: bold 1em/1 $h-font;
    // border: 1px solid #ccc;
    // border-radius: 3px;
    margin: 0 1em;
    color: #555;
    padding: 0.5em 0;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    text-decoration:none;
    border-bottom: 0.1em solid lighten($head-col, 0%); // This repeat of code is necesary due to selector weight
    text-decoration: none;
    &:visited {
      color: lighten($font-col, 25%);
      border-bottom: 0.1em solid lighten($head-col, 15%);
    }
    &:hover {
      color: darken($font-col, 10%);
      border-bottom: 0.1em solid darken($head-col, 10%);
    }
    &:focus {
      color: darken($font-col, 15%);
      border-bottom: 0.1em solid darken($head-col, 15%);
    }
    &:active {
      color: darken($font-col, 15%);
      border-bottom: 0.1em solid darken($head-col, 15%);
    }
  }

  @media screen and (max-width: $break-large) {
    left: 5%;
    margin-left: 0;
    width: 25%;}
  @media screen and (max-width: $break-small) {
    position: static;
    margin-left: 0;
    padding: 5% 5% 0 5%;
    width: 90%;
    text-align: center;
  }
}


  .sidebar-avatar {
    margin: 1em 2em;
    border: 0.5em solid darken($head-col, 5%);
    height: 8em;
    width: 8em;
    border-radius: 10em;
  }

////////////////////////
// Navigation Styling //
////////////////////////

.sidebar .main-nav {
  @media screen and (min-width: $break-x-large){
    margin-left: 460px !important;
  }
  @media screen and (min-width: $break-large){
    position: absolute;
    left: 50%;
    margin-left: 380px;
    top: -1.5em;
    width: 40em;  
      ul {
        li {
          display: inline-block;
          float: left;
          padding: 0 1em;
          border-right: 2px solid lighten($bg-col, 5%);
          color: lighten($bg-col, 5%);
          line-height: 1.4em;
          &:last-of-type {
            border: none;
          }
          a {
          border-bottom: none;
          color: lighten($bg-col, 5%);
          &:visited, &:focus, &:active, &:hover {
            border-bottom: none;
            color: lighten($bg-col, 5%);
          }
        }
        &:after {
          clear: both;
        }
      }
    }
  }
}

//////////////////////////////////
// Logged in profile in sidebar //
//////////////////////////////////

.profile, .jobs {
  position: relative;
} // .profile, .jobs 
.profile {
  > img {
    -moz-border-radius: 50px;
    border-radius: 50px; width: 100px;
    margin-left: calc(50% - 50px);
    margin-top: 20px;
  } // > img
  @extend .content-box;
  padding: 0;
} // .profile
.get-started, .load-jobs {
  background: $head-col;
  color: #FFF;
  text-decoration: none;
  width: $sidebar-width;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  position: relative;
  margin: 20px 0;
  &:hover {
    text-decoration: underline;
  } // &:hover
} // .get-started, .load-jobs


////////////////////////
// Joblist in sidebar //
////////////////////////

.job-list-view {
  padding: 0 1.5em;
  margin-bottom: 10px;
  line-height: 1.3;
  a, a:visited {
    color: $head-col;
    font-size: 1.25em;
    font-weight: 600;
  } // a, a:visited
  p {
      font-size: .65em;
    > a {
      color: #4D4D4D;
      font-weight: .65em;
      font-weight: 400;
      &:visited {
        color: #4D4D4D;
        font-weight: .65em;
        font-weight: 400;
      } // &:visited
    } // > a
    font-size: .65em;
  } // p
  &:last-of-type {
    padding-bottom: 50px;
  } // &:last-of-type
  @media screen and (max-width: $break-x-large) {
    a, a:visited {
      font-size: 1.1em;
    } // a, a:visited 
  } // @media screen $break-x-large
  @media screen and (max-width: $break-medium) {
    a, a:visited {
      font-size: 1.25em;
    } // a, a:visited
  } // @media screen $break-medium
} // .job-list-view

///////////////////
// Settings Page //
///////////////////

.settings {
  //form {
    input {
      padding: 0.5em;
      color: #949796;
      border: 2px #949796 solid;
      background: #FFF;
      display: block;
      font-size: 1em;
      width: calc(100% - 18px);
      margin-top: .5em;
      &[type=submit] {
        background: $head-col;
        color: #FFF;
        width: 100%;
        border: 0px;
        &:hover {
          color: rgba(255,255,255, .8);
          _color: #EEE;
        } // &:hover
      } // &[type=submit]
    //} // input 
    > ul li {
      display: inline-block;
      list-style-type: none;
      line-height: 2;
      a, a:visited {
        color: #4D4D4D;
        font-size: .8em;
      } // a, a:visited
      a:hover {
        text-decoration: underline;
      } // a:hover;
      &:first-of-type {
        float: left;
      }
      &:last-of-type {
        float: right;
      }
    } // > ul li
  } // form
} // .settings

//////////////////////
// 404 Page Styling //
//////////////////////

.error404 {
  hgroup {
    h1 {

    }
  }
}