////////////////////////////////////
// Import of fonts for bread text //
////////////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

///////////////////////////////////////////////////////////////
// Change p-font variable to match imported font family name //
///////////////////////////////////////////////////////////////

$p-font: 'Open Sans', 'Helvetica Neue', Arial, Garuda, Sans-serif;

/////////////////////////////////
// Import of font for headings //
/////////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

///////////////////////////////////////////////////////////////
// Change h-font variable to match imported font family name //
///////////////////////////////////////////////////////////////

$h-font: 'Open Sans Condensed', $p-font;

/////////////////////////////
// Import of font for logo //
/////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

///////////////////////////////////////////////////////////////
// Change h-font variable to match imported font family name //
///////////////////////////////////////////////////////////////

$logo-font: 'Dancing Script', 'Open Sans Condensed', sans-serif;;

//////////////////
// Icon imports //
//////////////////

// Common icons

@font-face {
    font-family: 'icons';
    src: url('common-icons-webfont.eot');
    src: url('common-icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('common-icons-webfont.woff') format('woff'),
         url('common-icons-webfont.ttf') format('truetype'),
         url('common-icons-webfont.svg#heydings_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$icon-fon: 'icons';

// Control icons

@font-face {
    font-family: 'controls';
    src: url('controls-webfont.eot');
    src: url('controls-webfont.eot?#iefix') format('embedded-opentype'),
         url('controls-webfont.woff') format('woff'),
         url('controls-webfont.ttf') format('truetype'),
         url('controls-webfont.svg#heydings_controlsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$controls-font: 'comtrols';

///////////////////////////////
// All stylings for headings //
///////////////////////////////
.heading-font {
    line-height: $l-height;
  margin {
    bottom: 1em;}
  font-family: $h-font;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// Loop to extend the .heading-font class contianing the font-family rule for all headings (h1-h6) //
/////////////////////////////////////////////////////////////////////////////////////////////////////
@for $i from 1 to 6 {
  h#{$i} {
    @extend .heading-font;
  }
} // /@for

h1 {
  font: {
    size: 2em;}
  // margin: 0 0 /* insert calc function for font-size/$l-height=margin-bottom or similair */;
  border-spacing: 10px
}

h2 {
  font: {
    size: 1.6em;
  }
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  font: {
    size: 1.4em;
  }
}

h4 {
  font: {
    size: 1.2em;
    weight: 300;
  }
  text-transform: uppercase;
}

h5 {
  font: {
    size: 1.1em;
  }
}

h6 {
  font: {
    size: 1em;
  }
}

///////////////////////////////////////////
// All stylings for general text content //
///////////////////////////////////////////

p {
	font: {
		family: $p-font;
		size: 1em;
  }
	margin: 0 0 0.5em 0;
}

ul,ol {
	margin: 0 0 $l-height $l-height;
}

//////////////////////////
// Anchor link styling∏ //
//////////////////////////

a {
  color: $font-col;
  border-bottom: 0.1em solid lighten($head-col, 0%);
  text-decoration: none;
  &:visited {
    color: lighten($font-col, 25%);
    border-bottom: 0.1em solid lighten($head-col, 15%);
  }
  &:hover {
    color: darken($font-col, 10%);
    border-bottom: 0.1em solid darken($head-col, 10%);
  }
  &:focus {
    color: darken($font-col, 15%);
    border-bottom: 0.1em solid darken($head-col, 15%);
  }
  &:active {
    color: darken($font-col, 15%);
    border-bottom: 0.1em solid darken($head-col, 15%);
  }
}

//////////////////
// List styling //
//////////////////

li {
  margin: 0 0 0.5em 0;
}

//////////////////////////
// Highlighters styling //
//////////////////////////

em {
  font-style: italic;
  font {
    family: $p-font;
  }
}
strong {
  font {
    family: $p-font;
    weight: 700;
  }
}

///////////////////
// Quote styling //
///////////////////

q {
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

blockquote {
  background: ligthen($bg-col, 1.5%);
  border-left:10px solid darken($head-col, 5%);
  margin:1.5em 0;
  padding:.5em 1.5em;
  quotes:“\201C”“\201D”“\2018”“\2019”;
  &:lang(sv) { quotes: '\201D' '\201D' '\2019' '\2019'; }
  &:lang(da) { quotes: '\00BB' '\00AB' '\203A' '\2039'; }
  &:before, &:after {
    // color: darken($bg-col, 15%);
    // font-size:4em;
    // line-height:.1em;
    // margin-right:.25em;
    // vertical-align:-.4em;
    }
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  p {
    display:inline;
  }
}

form {
    > input {
      padding: 0.5em;
      color: #949796;
      border: 2px #949796 solid;
      background: #FFF;
      display: block;
      font-size: 1em;
      width: calc(100% - 18px);
      margin-top: .5em;
      &[type=submit] {
        background: $head-col
   ;
        color: #FFF;
        width: 100%;
        border: 0px;
        &:hover {
          color: rgba(255,255,255, .8);
          _color: #EEE;
        } // &:hover
      } // &[type=submit]
    } // > input 
    > ul li {
      display: inline-block;
      list-style-type: none;
      line-height: 2;
      a, a:visited {
        color: #4D4D4D;
        font-size: .8em;
      } // a, a:visited
      a:hover {
        text-decoration: underline;
      } // a:hover;
      &:first-of-type {
        float: left;
      }
      &:last-of-type {
        float: right;
      }
    } // > ul li
  } // form

///////////////////
// Code Styling  //
///////////////////
