////////////////////////////////////////////
//  Stylesheet for Reesume (v0.2)         //
//  Produced by Adam Hjerpe & Linus Lilja //
//  2013                                  //
////////////////////////////////////////////

//
//  Please refer to style guide in README.md for 
//
//
//
///////////////////////////////////
// --- --- --- Index --- --- --- //
///////////////////////////////////
//
// 1. Variables
// 2. Mixins
// 3. Layout
// - 3.1 Header
// - 3.2 Main content
// - 3.3 Sidebar

// @import: "compass";


///////////////////////////
// Css development reset //
///////////////////////////

 * {margin: 0;padding: 0;outline: none;border: none;vertical-align: baseline;-webkit-font-smoothing: subpixel-antialiased;}

//////////////////
// 1. Variables //
//////////////////

// Breakpoints
  $break-small: 480px;
  $break-medium: 640px;
  $break-large: 760px;
  $break-x-large: 980px;

// Font-sizes

// Desktop font-size
  $f-size: 16px;
// Tablet font-size
  $f-size-m: 14px;
// Mobile font-size 
  $f-size-s: 12px;

// Line height, change to match vertical rhytm for document
  $l-height: 1.5em;

// Header background color or pattern
  // Orange:;
    // $head-col: #FF9666;
  // Facebook Blue:;
    // $head-col: #4660a2;
  // Linus Lilja Teal: 
    // $head-col: #10D080;
  // Random Red
   $head-col: #C14444;

// Background color
  $bg-col: #dddddd;

// Font Color
  $font-col: #555555;


/////////////////////////////////
// Import of typography styles //
/////////////////////////////////

@import "typography.scss";

/* Hover-transision */
:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* Basic link-styling */
a, a:visited {
  color: #FAFAFA;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
} 

/* Set up the layout */
body {
  background: $bg-col;
  // background: desaturate(lighten($head-col, 5%), 5%);
  color: $font-col;
  letter-spacing: -0.05em;
  line-height: $l-height;
  font: {
    family: $p-font;
    size : $f-size;
    weight: 400;
  }
  @media screen and (max-width: $break-large) {
    font-size: $f-size-m;}
  @media screen and (max-width: $break-small) {
    font-size: $f-size-s;}
  }
html, body {
  color: #4D4D4D;
  background: url(http://content.wallpapers-room.com/resolutions/1920x1200/I/Wallpapers-room_com___It_s_Wood_by_niklasK_1920x1200.jpg) fixed center top;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-size: 1.1em;
  height: 100%;
}

/* Top elements */
#headings {
  max-width: 800px;
  width: calc(80% + 60px);
  margin: 0 auto;
  min-height: 100px;
  max-height: 150px;
  &:after {
    @extend .clear;
  }
  @media screen and (max-width: $break-medium) {
    width: calc(80% + 30px);
  } 
}
a.logo  {
  background: #10D080;
  float: left;
  text-indent: 20px;
  width: 8rem;
  height: 8rem;
  line-height: 100px;
  font-size: 3em;
  color: #FFF;
  font-family: "Dancing Script", sans-serif;
  h1 > span {
    display: none;
  }
  &:hover {
    color: rgba(255,255,255, .8);
    _color: #EEE;
  }
} 
/////////
// Nav //
/////////
#nav {
  float: left;
  position: relative;
  li {
    list-style-type: none;
    display: block;
    background: #323332;
    height: 50px;
    width: 150px;
    display: block;
    &:hover {
      background: #282828;
      > ul { // Part of Sub Nav, Used to open the subnav
        display: block;
      } // > ul
    } // &:hover
  } // li
  > li:first-of-type {
    width: 50px;
    float: left;
    &:after {
      padding: 15px 20px;
      line-height: 50px;
      color: #FFF;
      content: '\25BC';
      border: 0;
    } // &:after
  } // > li:first-of-type 
  > li:hover:first-of-type:after {
    content: '\25b2';
  } // > li:hover:first-of-type:after
/////////////
// Sub Nav //
/////////////
  li > ul {
    display: none;
    position: absolute;
    z-index: 100;
    top: 50px;
    width: 150px;
    li {
      height: 50px;
      width: 150px;
      text-transform: uppercase;
      &:hover {
        background: #282828;
      } // &:hover
      a, a:visited {
        line-height: 50px;
        display: inline-block;
        padding: 0 20px;
      } // a, a:visited 
      a > span {
        color: #D06868;
        font-size: .6em;
        font-weight: 500;
      } // a > span
    } // li 
  } // li > ul
} // #nav
    
.notification {
  width: 400px;
  height: 50px;
  float: left;
  line-height: 50px;
  color: #fff;
  font-style: italic;
  text-indent: 20px;
  a, a:visited {
    text-decoration: underline;
    color: #fff;
  }
  a:hover {
    text-decoration: none;
  }
  @media screen and (max-width: $break-medium) {
    display: none;
  }
}


//////////////////////
// End Top elements //
//////////////////////
.clear {
  content: '';
  display: block;
  clear: both;
}
/* Basic wrappers */
#main {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  z-index: 5;
  &:after {
    @extend .clear;
  }
}
#paper {
  background: #FAFAFA;
  position: relative;
  z-index: 5;
  padding: 30px;
  width: 80%;
  max-width: 740px;
  margin: 50px auto;
  &:after {
    @extend .clear;
  } 
  @media (max-width: $break-large) {
    width: 100%;
  } // @media $break-large)
  @media (max-width: 759px) {
    width: 80%;
  } // 
  @media screen and (max-width: $break-medium) {
    padding: 15px;
  } // @media screen $break-medium
} // #paper

/* First-page */
.main-content hgroup {
    > h1 {
    text-indent: 0px;
    color: #FFF;
    display: block;
    font-size: 5.5em;
    line-height: 1;
    width: 100%;
  } // > h1
  > h3 {
    color: #FFF;
    display: block;
    font-weight: 400;
    font-style: italic;
  } // > h3
} // .main-content hgroup

aside.main-sign-up {
  padding: 20px;
  max-width: 260px;
  width: 100%;
  background: #FAFAFA;
  h3 {
    font-weight: 400;
    > span {
      font-weight: 200;
      font-style: italic;
    } // > span
  } // h3
  form {
    > input {
      padding: 8px;
      color: #949796;
      border: 2px #949796 solid;
      background: #FFF;
      display: block;
      font-size: 1em;
      width: calc(100% - 18px);
      margin-top: .5em;
      &[type=submit] {
        background: #10D080;
        color: #FFF;
        width: 100%;
        border: 0px;
        &:hover {
          color: rgba(255,255,255, .8);
          _color: #EEE;
        } // &:hover
      } // &[type=submit]
    } // > input 
    > ul li {
      display: inline-block;
      list-style-type: none;
      line-height: 2;
      a, a:visited {
        color: #4D4D4D;
        font-size: .8em;
      } // a, a:visited
      a:hover {
        text-decoration: underline;
      } // a:hover;
      &:first-of-type {
        float: left;
      }
      &:last-of-type {
        float: right;
      }
    } // > ul li
  } // form
} // aside.main-sign-up

/* Placeholder Color */
::-webkit-input-placeholder {
  color: #949796;
}
:-moz-placeholder {
  color: #949796;
}
::-moz-placeholder {
  color: #949796;
}
:-ms-input-placeholder {
  color: #949796;
}

/* Resume */
header {
  min-height: 100px;
  &:after {
    @extend .clear;
  }
}
figure.me {
  display: block;
  float: right;
  background: #EEE;
  top: 75px;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  span {
    text-indent: -9999px;
    background: url('http://new-standards.se/linus/r/img/me.png') no-repeat;
    display: block;
    margin: 10px 0 0 10px;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    &:hover {
      text-indent: 10px;
      text-shadow: 0 1px 2px rgba(0,0,0,.3);
      line-height: 100px;
      font-size: 1.2em;
      color: #FFF;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
    } // &:hover
  } // span
  @media screen and (max-width: $break-medium) {
    top: -200%;
    left: -200%;
  } //@media screen $break-medium
} // figure.me

hgroup > h1 {
  text-indent: 20px;
  color: #383838;
  font-family: "Dancing Script", sans-serif;
  font-size: 4em;
  float: left;
  @media screen and (max-width: $break-medium) {
    font-size: 3.3em;
  } // @media screen $break-medium
} // hgroup > h1

#resume {
  > .content {
    padding: 10px 20px;
    margin: 10px 0;
    h3 {
      color: #383838;
    } // h3
    h4 {
      color: #383838;
      margin: .5em 0 0 0;
      font-weight: 600;
    } //  h4
    span {
      font-style: italic;
    } // span
  } // > .content
} // #resume

/* Edit mode */
.edit:hover {
  background: #EEE;
}

/* My Resumes */
#my-resumes {
  max-width: 800px;
  width: 80%;
  margin: 50px auto;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}
.my-resumes-thumb {
  width: 185px;
  height: 260px;
  z-index: 3;
  display: inline-block;
  iframe {
    width: 760px;
    height: 1020px;
    overflow-y: hidden;
    border: 0;
    transform: scale(0.215);
    -webkit-transform: scale(0.220);
    -o-transform: scale(0.215);
    -ms-transform: scale(0.215);
    -moz-transform: scale(0.215);
    transform-origin: top center;
    -webkit-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    -moz-transform-origin: top center;
    background: #fff;
  }
}
/* End Resume */


aside#sidebar > .widget-area > h2 {

  font-style: normal;
  font-weight: 400;
  background: #323332;
  font-size: 1em;
  text-indent: 20px;
  margin: -20px -20px 20px -20px;
  /* Positioning hack */ height: 50px;
  line-height: 50px;
  color: #FFF;
  text-transform: uppercase;
}

#pagewrap {
  max-width: 800px;
  margin: 50px auto;
  &:after {
    @extend .clear;
  } // &:after
  @media screen and (max-width: $break-x-large) {
    max-width: 800px;
    width: 90%;
  } // @media screen and (max-width: $break-x-large
} // #pagewrap

#content {
  width: 480px;
  float: left;
  > article {
    background: #FFF;
    max-width: 480px;
    margin-bottom: 20px;
    > h1 {
      font-style: normal;
      font-weight: 400;
      background: #323332;
      font-size: 1em;
      text-indent: 20px;
      margin: 0 0 20px 0;
      height: 50px;
      line-height: 50px;
      color: #FFF;
      text-transform: uppercase;
    } // > h1
    > a > img {
      width: 100%;
      height: auto;
    } // > a > img
    &:first-of-type {
      min-height: 300px;
    } // &:first-of;
    &:last-of-type {
      min-height: 430px;
    } // &:last-of-type
  } // > article
  @media screen and (max-width: $break-x-large) {
    width: 60%;
  } 
  @media screen and (max-width: $break-medium) {
    width: auto;
    float: none;
    > article {
      max-width: 600px;
    } // > article
  } // @media screen $break-medium
} // #content
#sidebar {
  width: 300px;
  float: right;
  > .widget-area {
    background: #FFF;
    max-width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    &:first-of-type {
      min-height: 260px;
    } // &:first-of-type
    &:last-of-type {
      min-height: 390px;
    } // &:last-of-type
  } // > .widget-area
  @media screen and (max-width: $break-x-large) {
    width: calc(40% - 20px);
  } // @media screen $break-x-large
  @media screen and (max-width: $break-medium) {
    width: auto;
    float: none;
    > .widget-area {
      float: left;
      width: 40%;
      &:last-of-type {
        float: right;
      } // &:last-of-type
    } // > .widget-area
  } //@media screen $break-medium
  @media screen and (max-width: $break-small) {
    > .widget-area {
      float: none;
      width: auto;
      max-width: 440px;
      &:last-of-type {
        float: none;
      } // &:last-of-type
    } // > .widget-area
  } // @media screen $break-small
} // #sidebar



.profile, .jobs {
  position: relative;
} // .profile, .jobs 
.profile {
  > img {
    -moz-border-radius: 50px;
    border-radius: 50px; width: 100px;
    margin-left: calc(50% - 50px);
    margin-top: 20px;
  } // > img
  > h3 {
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
  } // h3
} // .profile
.get-started, .load-jobs {
  background: #10D080;
  color: #FFF;
  text-decoration: none;
  width: calc(100% - 40px);
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  &:hover {
    text-decoration: underline;
  } // &:hover
} // .get-started, .load-jobs

.jobs h2 a {
  float: right;
  margin-right: 20px;
  margin-top: 2px;
} // .jobs h2 a

.job-list-view {
  margin-bottom: 10px;
  line-height: 1.3;
  a, a:visited {
    color: #10D080;
    font-size: 1.25em;
    font-weight: 600;
  } // a, a:visited
  a:hover {
    text-decoration: underline;
  } // &:hover
  p {
      font-size: .65em;
    > a {
      color: #4D4D4D;
      font-weight: .65em;
      font-weight: 400;
      &:visited {
        color: #4D4D4D;
        font-weight: .65em;
        font-weight: 400;
      } // &:visited
    } // > a
    font-size: .65em;
  } // p
  &:last-of-type {
    padding-bottom: 50px;
  } // &:last-of-type
  @media screen and (max-width: $break-x-large) {
    a, a:visited {
      font-size: 1.1em;
    } // a, a:visited 
  } // @media screen $break-x-large
  @media screen and (max-width: $break-medium) {
    a, a:visited {
      font-size: 1.25em;
    } // a, a:visited
  } // @media screen $break-medium
} // .job-list-view

.selected-job {
  position: relative;
  h2 {
    height: 50px;
    background: #10D080;
    line-height: 50px;
    color: #FFF;
    padding: 0 20px;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100000;
    text-transform: uppercase;
  } // h2
} // .selected-job

.google-maps {
  width: 100%;
  overflow: hidden;
  display: block;
} // .google-maps
.selected-job-link {
  padding: 20px;
  > a, a:visited {
    color: #10D080;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.3;
  } // > a, a:visited 
  a:hover {
    text-decoration: underline;
  } // a:hover
  p {
    > a {
      &:hover {
        text-decoration: underline;
      } // &:hover
      color: #4D4D4D;
      font-weight: .6em;
      font-weight: 400;
      &:visited {
        color: #4D4D4D;
        font-weight: .6em;
        font-weight: 400;
      } //&:visited
    } // > a
    font-weight: .6em;
    line-height: 2;
  } // p
} // .selected-job-link
